In [11]:

from datetime import datetime
import pandas as pd
import numpy as np

In [4]:
#reading given order_data.csv provided to us
#refer to presentation to see the exact format of given order_data
df=pd.read_csv('order_data.csv')

In [6]:

#shape of order-id dataset provided to us
df.shape

(950457, 11)

In [7]:
df['items']=df['items'].str.replace('[', '')
df['items']=df['items'].str.replace(']', '')
df['items']=df['items'].str.replace(',', ' ')
#splitting train and test data
df_train=df.iloc[:int(df.shape[0]*0.80)]
df_test=df.iloc[int(df.shape[0]*0.80):]

In [9]:
#preprocessing training data
df_train=pd.concat([pd.Series(row['customer_id'], row['items'].split())              
                    for _, row in df_train.iterrows()]).reset_index()

df_train.columns=['item','user']
df_train=df_train.sort_values(by='user')
df_train.to_csv('train.csv',index=False)

In [22]:
print("Training data ")
print("-"*50)
print("Total no of orders :",df_train.shape[0])
print("Total No of unique users   :"+str(len(np.unique(df_train.user))))
print("Total No of unique items  :"+str(len(np.unique(df_train.item))))

Training data
--------------------------------------------------
('Total no of orders :', 1546906)
Total No of unique users   :154117
Total No of unique items  :147528

In [24]:
#preprocessing test data
df_test=pd.concat([pd.Series(row['customer_id'], row['items'].split())              
                    for _, row in df_test.iterrows()]).reset_index()

df_test.columns=['item','user']
df_test=df_test.sort_values(by='user')
df_test.to_csv('test.csv',index=False)

In [25]:
print("Test data ")
print("-"*50)
print("Total no of orders :",df_train.shape[0])
print("Total No of unique users   :"+str(len(np.unique(df_test.user))))
print("Total No of unique items  :"+str(len(np.unique(df_test.item))))

Test data
--------------------------------------------------
('Total no of orders :', 1546906)
Total No of unique users   :78226
Total No of unique items  :84087

In [112]:


df_full=pd.concat([pd.Series(row['customer_id'], row['items'].split())              
                    for _, row in df.iterrows()]).reset_index()

df_full.columns=['item','user']
df_full=df_full.sort_values(by='user')
df_full.to_csv('full.csv',index=False)

In [18]:
#checking deverity of cold start problem
total_users = len(np.unique(df.customer_id))
users_train = len(np.unique(df_train.customer_id))
new_users = total_users - users_train

print('\nTotal number of Users  :', total_users)
print('\nNumber of Users in Train data :', users_train)
print("\nNo of Users that didn't appear in train data: {}({} %) \n ".format(new_users,
                                                                        np.round((new_users/total_users)*100, 2)))

('\nTotal number of Users  :', 52911)
('\nNumber of Users in Train data :', 45682)

No of Users that didn't appear in train data: 7229(0 %)

In [29]:
#reading given items_metadata.csv provided to us
#this is the only detail about each item is provided to us by swiggy(not the exact name)

df_item=pd.read_csv('items_metadata.csv')
print df_item.shape
df_item.head()

(168636, 4)

     item_id  dish_family                      category       cuisine
0  102927323          pav              snacks - evening  north indian
1  102250682  soft drinks  beverage - branded cola/cold        others
2  103846009    breakfast                snacks- others  north indian
3  105415872         dips                         sides        others
4  100610198       combos                        combos   continental